.kandidatur_script_added {
    height: 1.5em;
}
.a4{
    width:210mm;
    height:297mm;
    border-style: dotted;

}
.a5{
    width:297mm;
    height:210mm;
    border-style: dotted;
    transform: rotate(90deg);
    transform-origin: top left;
    margin-left:210mm;

}

.stimmzettel {

    padding-top: 25px;
    padding-left: 30px;

}

@media print
{
    #stimmzettel-paper{
        border-style: none;
        
    }
}

